<!-- app/views/entries/new.html.erb -->
<h1>New Entry</h1>

<%= form_with(model: [@place, @entry], local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :occurred_on %>
    <%= form.date_field :occurred_on %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <%= form.submit %>
<% end %>
