<!-- app/views/places/show.html.erb -->

<h1><%= @place.name %></h1>


<div>
  <!-- Add a button to create a new post -->
  <%= link_to 'Add New Post', new_place_entry_path(@place), class: 'btn btn-primary' %>
</div>

<div>
  <!-- Loop through the entries associated with the place and display them -->
  <% @entries.each do |entry| %>
    <div>
      <h2><%= entry.title %></h2>
      <p><%= entry.description %></p>
      <p>Occurred on: <%= entry.occurred_on %></p>
      <% if entry.image.attached? %>
        <%= image_tag entry.image %>
      <% end %>
    </div>
  <% end %>
</div>
